ProxyRequests off
<Proxy balancer://webcluster >
    BalancerMember http://3.215.201.213
    BalancerMember http://54.158.136.220
</Proxy>

#Optional
<Location /balancer-manager>
    SetHandler balancer-manager
</Location>

ProxyPass /balancer-manager
ProxyPass / balancer://webcluster/